@radius: 30px;

.content {
  padding: 10px;
}

.circles {
  list-style: outside none none;
  padding: 0;
}

.circle {
  border-radius: @radius;
  width: @radius * 2;
  height: @radius * 2;
  line-height: @radius * 2;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  margin-right: 10px;
}

.circle-white {
  border: 1px solid black;
  background-color: white;
}

.circle-red {
  border: 1px solid white;
  background-color: red;
}

.circle-green {
  border: 1px solid white;
  background-color: green;
}
