@fontSize: 30px;
@lineHeight: @fontSize * 2;
@radius: @fontSize;

.content {
  padding: 10px;
}

.circles {
  list-style: outside none none;
  padding: 0;
}

.circle {
  border-radius: @radius;
  width: @radius * 2;
  height: @radius * 2;
  line-height: @lineHeight;
  display: inline-block;
  text-align: center;
  font-size: @fontSize;
  margin-right: 10px;
  color: white;
}

.circle-white {
  border: 1px solid black;
  background-color: white;
}

.circle-red {
  border: 1px solid white;
  background-color: red;
}

.circle-green {
  border: 1px solid white;
  background-color: green;
}

.timer {
  position: absolute;
  top: 0;
  left: 0;
  height: @lineHeight;
  width: 100%;
  background: black;
  display: none;
  color: white;
  font-size: @fontSize;
  line-height: @lineHeight;
  text-align: center;
}